
.custom-navbar {
    transition: all 0.3s ease;
    padding: 20px 0 !important;
}

.custom-navbar .nav-link {
    font-size: 1.15rem;
    font-weight: 500;
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem;
}

/* Estado reduzido */
.custom-navbar.shrink {
    padding: 8px 0 !important;
}

.custom-navbar.shrink .nav-link {
    font-size: 1rem;
}

.custom-navbar.shrink .navbar-brand {
    font-size: 1.2rem;
}
